<%- include('partials/header'); -%>


<form>
    <h2>Login</h2>
    <label for="name">Email:</label>
    <input type="text" name="email" required/>
    <div class="emailError"></div>

    <label for="name">Password:</label>
    <input type="password" name="password" required/>
    <div class="passwordError"></div>

    <button>Login</button>
</form>


<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();//dont want page refresh

        //get the value

        const email = form.email.value;
        const password = form.password.value;

        console.log(email, password);
    })
</script>

<%- include('partials/footer'); -%>